<div class="blog-post">
  <h2 class="blog-post-title">{{question.content}}</h2>
  <p class="blog-post-meta">by {{question.author}}</p>
  <hr>
  <p class="blog-post-meta">Notes {{question.notes}}</p>
</div>
